.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jumbotron {
  background-image: url("/assets/images/jumbotron.jpg");
  opacity: 1.0;
  background-color: navy;
  margin-bottom: 0;`enter code here`
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 1.0;
  text-shadow: 6px 6px 24px grey;
  font-weight: bold;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 3px 12px grey;
  font-weight: bold;
}